body{
  background-color: var(--background-color-a);
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
}

.maincontainer{
  background-color: var(--background-color-b);
  width: 800px;
  min-height: 500px;
  height: auto;
  color: var(--text-color-primary);
  font-size: var(--fontsize-primary);
  border: 1px solid;
  border-radius: 10px;
  box-shadow: inset;
}



.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px; 
  box-shadow: 0px 4px 6px rgba(254, 125, 125, 0.2);
}

.navbar button {
  background: none;
  border: none;
  color: var(--text-color-primary);
  font-size: 1.1rem;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.navbar button:hover {
  color: var(--text-color-primary);
  border-radius: 10px;
  transform: translateY(-3px); 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar button:focus {
  outline: none;
  box-shadow: 0px 5px 10px rgba(254, 125, 125, 0.2);
}

