
:root{
  --fontsize-primary: 1.6rem;
  --fontsize-secondary: 1.4rem;

  --background-color-a: rgb(54, 54, 54);
  --background-color-b: rgb(49, 49, 49);
  --background-test: green;
  --background-color-c: rgba(254, 125, 125, 0.2);


  --text-color-primary: white;
  ;
}
